#titlebar {
    display: flex;
    align-content: center;
    background: #339e21;
    background: -webkit-linear-gradient(to right, #339e21, #22382C);
    background: linear-gradient(to right, #339e21, #22382C);
    width: 100%;
    height: 100px;
    /* background-image: url('/title.png');
    background-size: cover; */
}

#title {
    font-family: 'Caveat', cursive;
    font-size: 4.8em;
    margin-left: 15%;
    font-weight: bold;
}

#titleimg {
    /* align-self: center; */
    width: 6%;
    height: 75%;
    margin-left: 3;
    vertical-align: middle;
}