.authButtons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
}

.authButton {
  margin: 10px;
  font-size: 1.5em;
  min-width: 10%;
}

.row {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.periodData {
  width: 100%;
  float: left;
}

.moneyData {
  margin: 0 auto;
  font-size: 1.8em;
  white-space: nowrap;
}

.moneyLabel {
  width: 50%;
  text-align: center;
}


.makeBlue {
  display: block;
  float: right;
  color: #1CC4ED;
}

.makeOrange {
  display: block;
  float: left;
  color: orange;
}

/* .pieChart .VicrotyContainer svg {
  padding: 10%;
} */

.pieChart {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.transHeader {
  text-align: center;
}

.auth {
  margin: 0 auto;
  text-align: center;
}

.authContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.login {
  float: left;
}

.signup {
  float: right;
}

.transList {
  width: 50%;
  margin: 0 auto;
}

.treeImg {
  float: right;
  width: 35%;
  background-image: url('/tree.png');
  background-size: cover;
}

.mainContainer {
  display: flex;
  width: 100%;
}

/* .data {
  float: left;
  width: 80%;
} */