.authButtons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
}

.authButton {
  margin: 10px;
  font-size: 1.5em;
  min-width: 10%;
}

.periodData {
  width: 80%;
  float: left;
  margin-left: 10%;
}

.data {
  display: flex;
}

.periodData h2, .periodData h3 {
  text-align: left;
}

.moneyData {
  float: right;
  font-size: 1.8em;
  white-space: nowrap;
  padding-left: 10%;
  padding-top: 5%;
}

.moneyLabel {
  text-align: left;
}

.makeGreen {
  color: #339E21;
}

.makeRed {
  color: #AB0D26;
}

.pieChart {
  float: left;
  /* height: 20%; */
  width: 40%;
}

.auth {
  margin: 0 auto;
  text-align: center;
}

.authContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.login {
  float: left;
}

.signup {
  float: right;
}

.treeImg {
  float: right;
  width: 35%;
  background-image: url('/tree.png');
  background-size: cover;
}

.mainContainer {
  display: flex;
  width: 100%;
}

.datePicker {
  margin: 2%;
}