.topnav {
    background-color: #22382C;
    overflow-x: hidden;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 10%;
    min-width: 130px;
    margin: 2%;
}

.topnav a {
    color: lightgray;
    display: block;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
}

.topnav a:hover {
    background-color: lightgray;
    color: #22382C;
}

.topnav .active {
    background-color: #339E21;
} 
