h1 {
    text-align: center;
}

.vertical {
    display: block;
}

.vertical div {
    margin: 5%;
}

.stack {
    display: flex;
    margin: 1% 3% 1% 3%;
    width: 42%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.periods {
    /* display: flex;
    justify-content: center */
    text-align: center;
}

hr {
    color: lightgray;
    width: 70%;
}

.period {
    color: black;
    width: 80%;
    margin: 0 auto;
}

.past {
    margin: 0 auto;
    text-align: center;
}

.pastContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

.pastPeriods {
    float: left;
}
  
.periodTransactions {
    float: right;
}

.transList {
    width: 80%;
    margin: 0 auto;
}

.vertical div {
    white-space: nowrap;
}

.textRight {
    text-align: right;
}

.rightColumn {
    width: 100%;    
}

.period:hover {
    background: lightgray;
    opacity: 10;
}

.period:focus {
    outline: 0;
    background: gray;
    border: 2px solid #22382C;
}