.transaction {
  width: 100%;
  margin: 0 auto;
  padding: 5% 0;
}

.left {
  float: left;
  text-align: left;
  width: 25%;
}

.right {
  float: right;
  text-align: right;
  width: 30%;
}

.center {
  margin: 0 auto;
  width: 45%;
  text-align: center;
}