.transaction {
  width: 100%;
  margin: 0 auto;
  padding: 7% 0;
}

.desc {
  float: left;
  text-align: left;
  width: 100%;
  padding-bottom: 5%;
}

.top {
  float: left;
  text-align: left;
  width: 100%;
  padding-bottom: 3%;
}

.date {
  float: right;
  text-align: right;
}

hr {
  color: lightgray;
  width: 70%;
}

.green {
  color: green;
}

.red {
  color: red;
}